@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: #000;
}

:root {
    --width: 800px;
}

.frame {
    width: var(--width);
    overflow: hidden;
}

.frame .item {
    border: 5px solid red;
    height: 300px;
    float: left;
    width: calc(800px/3)
}
