@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;

}

header {
    height: 200vh;
}

header .banner {
    height: 100px;
    background-color: aquamarine;
}

header nav {
    height: 100px;
    background-color: cornflowerblue;
    position: sticky;
    top: 0;
}

.gototop {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
