@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    outline: none;
}

.parent {
    border: 1px solid #000;
    width: 700px;
    overflow: hidden;
    display: flex;
}

.parent div {
    flex: 1;
    height: 200px;
    border: 1px solid red;
}
