@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    outline: none;
}

/*
W3C school 같은 사이트에서 html 태그를 기반으로 웹 표준을 검증해준다고 함
*/

.card {
    border: 1px solid #000000;
    padding: 15px;
    width: 400px;
    border-radius: 15px;
}

.card h2 {
    margin-top: 0;
}

.card div span {
    /* li처럼 나옴 */
    display: list-item;
    margin-left: 20px;
}

.card a {
    background-color: rosybrown;
    display: block;
    padding: 5px;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
