@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    outline: none;
}

/*

블록 요소의 기본 너비값은 100%.
하지만 table은 블록 요소임에도 기본 너비값은
콘텐츠의 양만큼 너비가 자동으로 맞춰짐.

즉, 너비를 꽉 채우려면 width:100%로 수정할 것.

*/
